<div class="container1">
  <h1> 2021 TASK CHECKLIST ☑️</h1>
</div>
<div class="container88">
<button  class="button" type="button">
<%= link_to 'Create a new task', new_task_path %>
</button>
</div>

<div class="container22">
  <% @tasks.each do |task| %>
    <h1><%= link_to task.title, task_path(task) , class:"container22" %> <%= link_to '🗑' , task_path(task), method: :delete, data: { confirm: "Are you sure?" }  %> </h1>
  <% end %>
</div>
