// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 250px;
}

.container5{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 250px;
  align-items: center;
  text-decoration: none;
}


.container1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 70px;
  color: black;
  font-size: 20px;

}
.container22 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  color: black;
}
.container88 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0px;
  color: black;
  font-size: 16px;
}
 .button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 }

.container00 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 250px;
  color: black;
  font-size: 16px;
}
a {
    text-decoration: none;
    cursor: auto;
    color: white;
}
